// text color
$text-black: #222222;
$text-white: #ffffff;

// color
$black: #382620;
$lightBeige: #eae0d5;
$paleCream: #f3efeb;
$vibrantOrange: #f07317;
$mediumGray: #888888;

// font weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// spacing
$padding-sp: 10px;
$padding-pc: 20px;

// inner width
$inner: 1100px;

// break points
$breakpoints: (
  "sm": 320px,
  "sp": 375px,
  "mobile": 424px,
  "tablet": 600px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
) !default;

// font
$font-jp-noto-serif: "Noto Serif JP", serif;
$font-en-amatic-sc: "Amatic SC", cursive;
$font-en-damion: "Damion", cursive;
$font-en-patua-one: "Patua One", cursive;
