@use "global" as *;


.top-news {

  padding-top: rem(24);
  padding-bottom: rem(99);

  @include mq(md) {
    padding-top: rem(32);
    padding-bottom: rem(148);
  }

  &__container {
    @include mq(md) {
      display: flex;
      justify-content: space-between;
      max-width: 1040px + strip-unit($padding-pc) * 2;
    }
  }

  &__warp {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);

    @include mq(md) {
      flex-direction: row;
      align-items: center;
      column-gap: rem(61);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: rem(32);

    @include mq(md) {
      column-gap: rem(46);
    }
  }

  &__time {
    font-size: rem(16);
  }

  &__category {
    font-size: rem(14);
    padding: rem(4) rem(21);
    border: rem(1) solid $white;
  }

  &__category-container {

  }

  &__category-title {

  }

  &__title-container {

  }

  &__title {

  }

  &__title-link {
    display: inline-block;
    position: relative;
    &:hover {
      opacity: 1;
      
      &::after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        
      }
    }
  }


  &__button-container {
    @include mq(sp) {
      margin-top: rem(25);
    }
  }

  &__button {
    display: inline-block;
    text-align: center;
    font-size: rem(20);
    font-weight: $normal;
    width: 100%;
    padding: rem(10) 0;
    background-color: $button-color;
    border: rem(1) solid $white;
    letter-spacing: rem(2);

    @include mq(md) {
      background-color: $white;
      border: none;
      color: $black;
      padding: rem(3) rem(27);
      font-size: rem(16);
      font-weight: $medium;
      transition: .3s;
      position: relative;
      letter-spacing: 0;
     


      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        z-index: -1;
        background-color: $button-color;
        
        transition: .3s;
      }

      &:hover {
        color: #fff;
        &::before {
          width: 100%;
        }
      }
      
    }
  }

  


}