@use '../../scss/utils/utils' as *;

.header {
  flex-basis: 200px;
  flex-shrink: 0;

  @include mq("max", "lg") {
    display: none;
    
  }

  .header__inner {
    padding: 30px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .header__logo {

  }

  .header__logoLink {

  }
  
  .header__navInner {

  }

  .header__content {

  }

  .header__nav {

  }

  .header__navInner {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  .header__navList {

  }

  .header__navLink {
    display: block;
    padding-bottom: 14px;
    text-align: center;
    position: relative;
    font-family: $font-en-patua-one;
    text-decoration: none;
    color: $text-black;

    &::before {
      content: attr(data-ruby);
      font-size: 10px;
      display: block;
      font-family: $font-jp-noto-serif;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .header__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  .header__snsList {

  }

  .header__snsLink {
    text-decoration: none;
    color: $black;

    svg {
      width: 22px;
      height: 22px;
    }
  }



}