@use "../../utils/utils" as *;

.concept {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 220px;

  .concept__inner {
    display: flex;
    column-gap: 80px;
  }

  .concept__image {
    // height: 100%;
    img {
      // height: 100%;
      object-fit: cover;
    }
  }

  .concept__contents {
  }

  .concept__contentsInner {
  }
  // 分ける
  .title {
    display: flex;
    flex-direction: column;

    .title__en {
      font-size: 52px;
      font-family: $font-en-amatic-sc;
      line-height: 1;
      letter-spacing: 11px;
      display: inline-block;
    }

    .title__ja {
      font-size: 14px;
      display: inline-block;
      margin-top: 8px;
    }
  }

  .concept__title {

  }

  .concept__titleEn {

  }

  .concept__titleJa {

  }

  .concept__description {
    margin-top: 60px;
    font-size: 28px;
    line-height: 2.1;
    font-weight: $bold;
  }

  .concept__text {
    font-size: 14px;
    font-weight: $medium;
    line-height: 2;
    margin-top: 60px;
  }

  .concept__button {
    margin-top: 66px;
  }

  .button {
    width: 280px;
    height: 72px;
    background-color: $text-black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform .3s;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      transform: rotate(-45deg) translateY(-50%);
      position: absolute;
      right: 10px;
      top: 50%;
    }

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 72px;
      border-bottom: 1px solid $text-black;
      border-right: 1px solid $text-black;
      position: absolute;
      right: -6px;
      top: 6px;
      transition: transform .3s;
    }
    
    &:hover {
      transform: translate(6px, 6px);

      &::after {
        transform: translate(-6px, -6px);
      }
    }
    
    
  }
}
